<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/images/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/images/weather.png">
        <p>Daily Weather detects weather in your current location automatically. There are many information in weather forecast which includes weather condition, atmospheric pressure, relative humidity, visibility distance, precipitation in different unites, dew point, wind speed and direction, in addition to ten days future forecast, also hourly weather forecast.
Real-time temperature, rain, snow, humidity, pressure, wind force and wind direction are all in this weather application based.</p>
        
     
    

    </div>
    
    {{>footer}}
</body>

</html>