<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/images/weather.png">
    <title>help</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
    <p>{{helpText}}</p>
    <img class="portrait" src="/images/me.jpeg">
    <p>Contact Person - Kulbir Malik</p>
    <p>Contact Number - 7448729500</p>
    <p>Email - kulbirmalik1999@gmail.com</p>


    </div>
    
    {{>footer}}
</body>

</html>